@font-face {
    font-family: 'bahiana';
    src: url('../fonts/Bahiana-Regular.ttf');
}

@font-face {
    font-family: 'chakra_petch';
    src: url('../fonts/ChakraPetch-Regular.ttf');
}

@font-face {
    font-family: 'chakra_petch_bold';
    src: url('../fonts/ChakraPetch-Bold.ttf');
}

@font-face {
    font-family: 'chakra_petch_medium';
    src: url('../fonts/ChakraPetch-Medium.ttf');
}

@font-face {
    font-family: 'chakra_petch_semibold';
    src: url('../fonts/ChakraPetch-SemiBold.ttf');
}

* {
    font-family: 'bahiana';
}

body {
    background-color: #3cdbf7;
}

body,
html {
    overflow-x: hidden !important;
}

.badgeHolder.position-relative.aos-init.aos-animate {
    z-index: 1000;
}

.top {
    height: 100vh;
    height: auto;
    overflow: hidden;
}

/* .top2 {
    overflow-y: visible;
} */

.bgImg {
    background-image: linear-gradient(transparent, white, white), url("../img/pist.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.cll {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

.textHolder.bg-info.p-1.mt-5 {
    transform: skewy(-1deg) skewX(-2deg);
}

.textHolder.bg-info.p-1.mt-5 h2,
.textHolder.bg-info.p-1.mt-5 p {
    transform: skewy(1deg) skewX(2deg);
}

.clipped {
    clip-path: polygon(1% 0, 100% 0, 96% 100%, 0 97%);
}

.rotate.aos-init.aos-animate {
    transform: rotate(-2deg);
}

.img-fluid.left1 {
    top: -10px;
    position: relative;
    left: 20px;
}

.img-fluid.left2 {
    position: absolute;
    /* left: 0; */
    top: -50px;
    width: 85%;
    right: 0;
    left: unset;
    /* z-index: 100000000000; */
}

/* 

*/
.slider {
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
}

.top {
    min-height: 100vh;
}

.container {
    position: relative;
    z-index: 10;
}

.btn.position-relative.border-0.rounded-0 img.position-absolute {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.z-1 {
    position: relative;
    z-index: 100;
}

.btn {
    font-size: 20px;
}

.img-fluid.d-block.mx-auto.logo-2 {
    margin-top: -255px;
    margin-bottom: -200px;
}

.fs-20 {
    font-size: 20px;
}

.medium {
    font-family: 'chakra_petch_medium';
}

.text-purple {
    color: #593494;
}

.btn.position-relative.border-0.rounded-0.pe-5.pt-4.fs-2.text-white span {
    transform: rotate(-4deg);
    top: -2px;
    left: 4px;
}

h1 {
    font-size: 60px;
}

h1 {
    transform: rotate(-2deg);
}

.badgeHolder.position-relative img {
    top: -300px;
}

.img-fluid.top-20 {
    position: relative;
    top: -5px;
}


.z-1.rotate {
    position: relative;
    transform: rotate(-4deg);
    display: block;
    padding-top: 13px;
}

.btn.position-relative.border-0.rounded-0.px-4.me-2.fs-1.text-purple.ttp {
    top: -50px;
}

/* div.bg-white.py-5 {
    position: relative;
    margin-top: -275px;
    bottom: 0;
} */
div.bg-white.py-5 {
    position: relative;
    margin-top: 0;
    box-shadow: 0 -50px white !important;
}

.text-center .text-center h1 span {
    line-height: 10px;
}

.footer {
    background-color: #593494;
}


/* new page */
.fs-30 {
    font-size: 20px;
}

.fs-60 {
    font-size: 40px;
}


/* blogs */
.blogs .row {
    transform: skewy(1deg) skewX(2deg);
}

.blogs .textHolder.bg-info.p-1.mt-5 h2,
.textHolder.bg-info.p-1.mt-5 p {
    transform: skewy(0deg) skewX(0deg);
}

.img-fluid.botomBanner {
    position: absolute;
    bottom: -350px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
}

.footer.py-4.bg-purple.mt-custom {
    margin-top: 220px;
}

.blogs .row .row {
    transform: skewy(0deg) skewX(2deg);
}

.bgImg.bgNew {
    background-image: linear-gradient(transparent, white), url("../img/pist.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-purple {
    background-color: #593494;
    border-color: #593494;
}

.btn-light {
    background-color: white !important;
}

.footer .btn.btn-info.p-0.rounded-0.px-4 {
    clip-path: polygon(0 0, 100% 0, 90% 90%, 20% 100%);
    padding: 0 33px !important;
    color: #593494;
}

.footer .border.border-info.form-control.bg-transparent.text-info.rounded-0 {
    clip-path: polygon(5% 19%, 96% 0px, 99.5% 99%, 0.5% 99%);
    border: unset !important;
    padding: 10px 40px;
    font-size: 20px;
    color: white !important;
    padding-bottom: 5px;
    position: relative;
    background-color: #593494 !important;
}

.footer form {
    background: #3cdbf7;
    padding: 4px;
    clip-path: polygon(5% 16%, 96% 0, 100% 100%, 0% 100%);
}

.btn-info {
    background-color: #3cdbf7 !important;
    border-color: #3cdbf7 !important;
}

.footer ::placeholder {
    color: white;
}


@media screen and (max-width: 992px) {
    .top .fs-20.medium.text-purple.aos-init.aos-animate {
        margin-top: 135px;
    }

    .badgeHolder.position-relative.aos-init.aos-animate {
        display: none;
    }

    div.bg-white.py-5 {
        position: relative;
        margin-top: -70px;
        box-shadow: 0 -50px white !important;
    }
}



@media screen and (max-width: 767px) {
    .img-fluid.d-block.mx-auto.logo-2 {
        margin-top: -69px;
        margin-bottom: 0px;
    }

    h1 {
        font-size: 35px;
    }

    .badgeHolder.position-relative img {
        top: -300px;
        display: none;
    }

    .btn.position-relative.border-0.rounded-0.px-4.me-2.fs-1.text-purple.ttp {
        top: -10px;
        display: block;
        margin-left: auto;
        margin-right: auto !important;
        margin-bottom: 30px;
    }

    div.bg-white.py-5 {
        position: relative;
        margin-top: 0;
        box-shadow: 0 -50px white !important;
    }

    .footer .img-fluid.w-75 {
        width: 100px !important;
    }

    .slider {
        clip-path: unset
    }

    .img-fluid.left2 {
        position: relative;
        /* left: 0; */
        top: 30px;
        width: 100%;
        right: 0;
        left: unset;
        /* z-index: 100000000000; */
    }

    .img-fluid.left1 {
        display: none;
    }

    .text-info.fs-20.medium.fw-bold {
        color: white !important;
    }

    .top .fs-20.medium.text-purple.aos-init.aos-animate {
        margin-top: 0;
    }

    * {
        transform: unset !important;
    }

    .blogs .card-body>.row {
        flex-direction: column-reverse !important;
    }

    .blogs .card-body.p-5 {
        padding: 20px !important;
    }

    .img-fluid.botomBanner {
        position: unset;
        bottom: -350px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .footer.py-4.bg-purple.mt-custom {
        margin-top: 0;
    }
}